.menu {
    background-color: rgba(0,0,0,0.7);
}

.cabecalho-post  {
    font-size: 30px;
    background: url("../imgs/natureza.jpg") center no-repeat;
    height: 350px;
    background-size: 100%;
}

.titulo-post {
    padding-top: 180px;
    margin: auto;
    max-width: 1000px;
    padding-left: 30px;
}

.titulo-post h1 {
    color: white;
    font-weight: 400;
}
.titulo-post h2 {
    color: white;
    padding-top: 20px;
    font-weight: 400;
    font-size: 24px;
}

.data {
    margin: auto;
    max-width: 1000px;
    color: #3f3f3f;
    line-height: 40px;
    border-bottom: #cfcfcf solid 1px;
}

.data p{
    padding-left: 30px;
}

.corpo {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
    margin: auto;
    max-width: 1000px;
    text-align: justify;
}
.corpo p{
    margin-top: 30px;
    font-size: 18px;
    color: #3f3f3f;
}

.rodape {
    background-color: black;
    color: #d6b8a8;
    height: 50px;
    text-align: center;
}
