@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #f5f5f5;
}

/* Tela de inicio */
.inicial img{
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    border: 5px solid #dbdbdb;
}

.inicial {
    display: flex;
    background-color: black;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.nome-cargo {
    text-align: end;
}

.nome-cargo h1 {
    color: #d6b8a8;
    font-size: 60px;
    
}

.nome-cargo h2 {
    color: white;
    font-size: 35px;
}

.titulo-secao {
    margin: auto;
    text-align: center;   
    color: #4b4b4b;
    text-align: center;
    width: 350px;
    font-size: 50px;
    border-bottom: #c0bfbf solid 2px;
    margin-top: 60px;
}


.frase-secao{
    margin: auto;
    text-align: center;   
    color: #3f3f3f;
    margin-top: 15px;
    
}

/* Perfil */
.perfil {
    padding-top:60px;
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}

.perfil h1 {
    margin-bottom: 20px;
    text-align: start;
    padding: 0px;
    font-size:24px;
}

.perfil h2 {
    font-size: 18px;
    color: #3f3f3f;
}

.perfil p {
    font-size: 18px;
    text-align: justify;
}

.sobre-mim {
    width: 300px;
    word-wrap: break-word;
}

.perfil img{
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 5px solid #dbdbdb;
}

.detalhes {
    text-align: justify;
    width: 300px;
}

/* Experiencia */
.item-experiencia {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1000px;
    display: flex;
    text-align: justify;
    margin: auto;
    justify-content: space-around;
    
}

.item-experiencia img {
    border-radius: 24px;
}

.detalhes-item-experiencia {
    text-align: justify;
    padding-left: 30px;

}
.item-experiencia img {
    width: 300px;
    height: 220px;
}

.detalhes-item-experiencia p#nome {
    color: #5C4F48;
    font-size: 22px;
    font-weight: 700;
}

.detalhes-item-experiencia p#cargo {
    color:#998378;
    font-weight: 700;
    font-size: 20px;
}

.detalhes-item-experiencia p#cidade {
    color: #D38378;

}
/* Conhecimentos */
.conhecimentos {
    max-width: 1000px;
    margin: auto;
    color: #4b4b4b;
}

.conhecimentos h2{
    text-align: center;

}

.area {
    margin-top: 60px;
   
}

.area table {
    padding-top: 30px;
    margin: auto;
}

.area td {
    padding-left: 80px;
    padding-right: 80px;
}

.item-conhecimento{
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.item-conhecimento:hover {
    background-color: #dbdbdb;
}


.item-conhecimento p{
    font-weight: 700;
    width: 150px;
    padding: 5px
}

/* Projetos */

.projetos {
    display: flex;
    flex-wrap: wrap;
    max-width: 910px;
    margin: auto;
    margin-top:60px;
}

.projetos img {
    height: 300px;
    width: 300px;
}

figure.foto-legenda {
    justify-content: center;
    padding-left: 3px;
    position: relative;
}

figure.foto-legenda figcaption{
    opacity: 0; /* ultima coisa a fazer */
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.7);
    height: 300px;
    width: 300px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    transition: opacity 0.4s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}

figure.foto-legenda figcaption h2{
    padding: 50px;
}

figure.foto-legenda figcaption p{
    padding: 30px;
    padding-top: 60px;
}

