@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #f5f5f5;
}

.inicial img{
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    border: 5px solid #dbdbdb;
}
/* Tela de inicio */
.inicial {
    display: flex;
    background-color: black;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.nome-cargo {
    text-align: end;
}

.nome-cargo h1 {
    color: #d6b8a8;
    font-size: 60px;
    padding: 0;
}

.nome-cargo h2 {
    color: white;
    font-size: 35px;
}

h1{
    padding: 50px;
    text-align: center;
    font-size: 50px;
    color: #4b4b4b
}
p {
    font-size: 18px;
    
}

.secao-perfil p{
    text-align: center;
}

.secao-perfil h1{
    text-align: center;
    padding-bottom: 0px;
}

/* Conhecimentos */
.conhecimentos {
    max-width: 1000px;
    margin: auto;
    color: #4b4b4b;
}

.conhecimentos h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.conhecimentos h1{
    padding-bottom: 0px;
}


.area table {
    margin: auto;
}

.area td {
    padding-left: 50px;
    padding-right: 50px;
}

.item-conhecimento{
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.item-conhecimento:hover {
    background-color: #dbdbdb;
}


.item-conhecimento p{
   
    font-weight: 700;
    width: 150px;
    padding: 5px
}

/* Perfil */
.perfil {
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}

.perfil h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: start;
    padding: 0px;
    font-size:24px;
}

.perfil h2 {
    font-size: 18px;
    color: #3f3f3f;
}

.perfil p {
    font-size: 18px;
    text-align: justify;
}

.sobre-mim {
    width: 300px;
    word-wrap: break-word;
}

.perfil img{
    margin: 30px;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    border: 5px solid #dbdbdb;
}

.detalhes {
    text-align: justify;
    width: 300px;
}

/* Experiencia */
.item-experiencia {
    max-width: 1000px;
    display: flex;
    text-align: justify;
    margin: auto;
    justify-content: space-around;
    margin-top: 50px;
    
}

.item-experiencia img {
    border-radius: 24px;
}

.detalhes-item-experiencia {
    text-align: justify;
    padding-left: 30px;

}
.item-experiencia img {
    width: 300px;
    height: 220px;
}

.detalhes-item-experiencia p#nome {
    color: #ffbf0f;
    font-size: 22px;
    font-weight: 700;
}

.detalhes-item-experiencia p#cargo {
    color: #ff670f;
    font-weight: 700;
    font-size: 20px;
}

.detalhes-item-experiencia p#cidade {
    color: #3bad0d;

}


/* Projetos */

.projetos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1210px;
    margin: auto;
 
}

figure.foto-legenda {
    justify-content: center;
    padding-left: 3px;
    position: relative;
}

figure.foto-legenda figcaption{
    opacity: 0; /* ultima coisa a fazer */
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.7);
    height: 400px;
    width: 400px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    transition: opacity 0.4s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}

figure.foto-legenda figcaption h2{
    padding: 50px;
}

figure.foto-legenda figcaption p{
    padding: 50px;
    padding-top: 150px;
}

