@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*Menu superior */
.menu {
    height: 50px;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    color: #d6b8a8;
    z-index: 2;
    position: absolute;

}
.menu-name{
    margin-left: 40px;
}

.menu-options {
    display: flex;
}

.menu-options a{
    margin-right: 40px;
    color: #dbdbdb;
    text-decoration: none;
    padding: 10px;
    
}

.menu-options a:hover {
    color: #d6b8a8;
    text-decoration: underline;
    transition: color 0.4s;
}


/* Contato */

#contato {
    background-color: #4b4b4b;
    margin-top: 100px;
    height: 100vh;
    text-align: center;

}

#contato h1{
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 50px;
}

#contato h2{
    color: rgb(197, 195, 195);
    margin-bottom: 100px;
}

#contato p{
    color: white;
    font-size: 16px;


}

.redes-sociais img{
    margin-left: 10px;
    margin-bottom: 100px;
    padding: 8px;
    width: 64px;
    height: 64px;
    background-color: #e67436;
    border-radius: 8px;
    transition: 0.5s;
}

.redes-sociais img:hover {
    background-color: #eb9b70;
}

[data-animacao] {
    opacity: 0;
    transition: 0.6s;
}

[data-animacao="left"] {
    transform: translate3d(-250px, 0 , 0);
}

[data-animacao="right"] {
    transform: translate3d(250px, 0 , 0);
}

[data-animacao="down"] {
    transform: translate3d(0, 250px , 0);
}

[data-animacao].anima {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}